nav.nav-group-tie {
	border-top: 5px solid #303030;
	box-shadow: $nav-shadow;
    ul {
        li {
            &:hover {
                background: $color-lube;					
                color: $color-text-lube;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
nav.nav-tie {
	border-bottom: 5px solid $color-kal;
	ul {
		li {
			a {
				color: $color-text-tie;
			}
			&:hover {
				background: $color-primary;
			}
			&:hover > a {
				color: $color-text-primary;	
			}
		}
	}
	ul.user {
		ul {
			left: initial;
			right: 0;
		}
	}
}