[class^=bg-dashboard] {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.bg-dashboard {
	background-image: url(../img/dashboard/bg-dashboard.jpg);
}
.bg-dashboard-administrador {
	background-image: url(../img/dashboard/bg-dashboard-administrador.jpg);
}
.bg-dashboard-cadastro {
	background-image: url(../img/dashboard/bg-dashboard-cadastro.jpg);
}
.bg-dashboard-financeiro {
	background-image: url(../img/dashboard/bg-dashboard-financeiro.jpg);
}
.welcome {	
	float: left;
	margin-bottom: 1.5rem;
	width: 100%;
	h1, h2 {
		color: #FFFFFF;
		float: left;
		text-shadow: 3px 2px 5px rgba(0, 0, 0, .7);
	}
	h1 {		
		font-size: 3rem;
		margin-bottom: .5rem;
	}	
	h2 {
		clear: left;
	}
}
.current {
	background: rgba(0, 0, 0, .3);
	color: #FFFFFF;
	padding: .5rem;
	a {
		color: #FFFFFF;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}