.login {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	background: url(../img/bg-login.png) center / cover no-repeat;
	height: 100%;
	&-panel {		
		text-align: center;
	}
	&-logo {		
		margin-bottom: 1rem;
		img {
			height: 150px;
			margin-bottom: 1rem;
		}		
		&-legend {
			color: #FFFFFF;
			font-size: 3rem;			
			text-transform: uppercase;
		}
	}
	&-form {
		width: 350px;
		legend {
			color: #FFFFFF;
			font-size: 1.5rem;
			text: {
				align: center;
				transform: uppercase;
			}
			width: 100%;
		}
		button {
			text-transform: uppercase;			
		}
	}
	&-remember {
		a {
			@include transition("color .2s linear");
			color: $color-text-primary;
			text-decoration: none;
			&:hover {
				color: $color-primary;
			}
		}
	}
}