.band-lube {
	margin-bottom: .625rem;
}
.container-center {
	background: transparent !important;
}
.form-data-group .form-data-group-btn button {
	padding: .56rem .6rem !important;
	i {
		font-size: .8rem;
	}
}
.band-nav-lube {
	a {
		color: #FFFFFF;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}