.band-lube {
	margin-bottom: .625rem;
}
.container-center {
	background: transparent !important;
}
.band-nav-lube {
	a {
		color: #FFFFFF;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}