/************************************************** PATTERNS **************************************************/
/************************************************** ALERT **************************************************/
/************************************************** COLORS **************************************************/
/************************************************** BACKGROUNDS **************************************************/
/************************************************** BANDS **************************************************/
/************************************************** BANNERS **************************************************/
/************************************************** BLOCKS **************************************************/
/************************************************** BOXS **************************************************/
/************************************************** BUTTONS **************************************************/
/************************************************** COLLAPSES **************************************************/
/************************************************** FONTS **************************************************/
/************************************************** FOOTERS **************************************************/
/************************************************** FORMS **************************************************/
/************************************************** MEDIA-QUERIES **************************************************/
/************************************************** NAVS **************************************************/
/************************************************** PAGINATION **************************************************/
/************************************************** TABLES **************************************************/
/************************************************** TABS **************************************************/
/************************************************** BACKGROUND **************************************************/
/************************************************** BORDER **************************************************/
/************************************************** EXPRESSION **************************************************/
nav.nav-tie {
  border-bottom: 5px solid #0099FF; }
  nav.nav-tie ul li a {
    color: #000000; }
  nav.nav-tie ul li:hover {
    background: #0099FF; }
  nav.nav-tie ul li:hover > a {
    color: #FFFFFF; }
  nav.nav-tie ul.user ul {
    left: initial;
    right: 0; }

nav.nav-square a {
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }
nav.nav-square a:hover {
  background: #0099FF !important;
  color: #FFFFFF !important; }

.bg-dashboard {
  background: url(../img/dashboard/bg-dashboard.jpg) center/cover no-repeat; }

.bg-dashboard-sistema {
  background: url(../img/dashboard/bg-dashboard-sistema.jpg) center/cover no-repeat; }

.welcome {
  float: left;
  margin-bottom: 1.5rem;
  width: 100%; }
  .welcome h1, .welcome h2 {
    color: #FFFFFF;
    float: left;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.7); }
  .welcome h1 {
    font-size: 3rem;
    margin-bottom: .5rem; }
  .welcome h2 {
    clear: left; }
  .welcome .summary {
    float: right; }
    .welcome .summary-options {
      display: inline-block;
      padding: 1rem;
      text-align: center; }
    .welcome .summary-count {
      display: block;
      margin-bottom: 5px; }
    .welcome .summary .opens {
      color: #FF0000; }
    .welcome .summary .progressing {
      color: #0000FF; }
    .welcome .summary .resolveds {
      color: #00AA00; }

.current {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  padding: .5rem; }

.login {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background: url(../img/bg-login.png) center/cover no-repeat;
  height: 100%; }
  .login-panel {
    text-align: center; }
  .login-logo {
    margin-bottom: 1rem; }
    .login-logo img {
      height: 150px;
      margin-bottom: 1rem; }
    .login-logo-legend {
      color: #FFFFFF;
      font-size: 3rem;
      text-transform: uppercase; }
  .login-form {
    width: 350px; }
    .login-form legend {
      color: #FFFFFF;
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      width: 100%; }
    .login-form button {
      text-transform: uppercase; }
  .login-remember a {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
    color: #FFFFFF;
    text-decoration: none; }
    .login-remember a:hover {
      color: #0099FF; }

footer.footer-tie {
  border-top: 5px solid #0099FF; }
